@import "~bootstrap/scss/variables";

$grid-float-breakpoint: map-get($grid-breakpoints, lg);
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

$navbar-dark-color:                 #e7e7e7;
$navbar-dark-hover-color:           #d87702;
$navbar-dark-active-color:          #e7e7e7;
