﻿<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OKKNF 2016</title>

    <link rel="icon" href="img/okknf-2016-logo.png">

    <meta name="description" content="Strona Ogólnopolskiej Konferencji Kół Naukowych Fizyków 2016">
    <meta name="keywords" content="OKKNF, konferencja, fizyka, nauka">
    <meta name="author" content="Marcin Jenczmyk">
</head>

<body>

    <div id="app"></div>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config(
        {
            tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
            TeX: {extensions:["mhchem.js"]},
        });
    </script>
    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML"></script>


</body>
</html>
