
.banner {
  display: inline-block;

  img {
    padding: 5px;
  }

  @media (min-width: 768px) {
    margin: 5px;

    img {
      max-width: 345px;
      max-height: 130px;
    }
  }

  @media (max-width: 767px) {
    margin: 1%;
    width: 46%;

    img {
      width: 100%;
    }
  }
}
