@import 'bootstrap/variables';

// General CSS

body {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

a, a:focus {
  text-decoration: none;
  color: #e8850c;
}

a:hover {
  color: #e8850c;
  text-decoration: underline;
}

a:visited {
  color: #9f5b08;
  text-decoration: none;
}

// Content styling

#app, #app > div {
  height: 100%;
}

#landing-page {
  min-height: 100%;
  font-size: 20px;
  line-height: 1.2em;
  display: flex;
  flex-direction: column;
}

#landing-page > div {
  flex: 1;
}

@media (min-width: $grid-float-breakpoint) {
  #landing-page .container,
  #landing-page .row {
    display: flex;
    align-items: center;
  }
}

#motto {
  font-style: italic;
  font-size: 95%;
}

@media (min-width: 390px) {
  #logo > img {
    display: inline-block;
    max-width: 360px;
  }
}

@media (max-width: 390px) {
  #logo > img {
    display: inline-block;
    width: 100%;
  }
}

#logo > img {
  display: inline-block;
  max-width: 360px;
}

@media (max-width: $grid-float-breakpoint) {
  #logo > img {
    margin-bottom: 30px;
  }
}

#hotel-map > div {
  margin-top: 30px;
  height: 360px;
}

#contact-map > div {
  margin-top: 30px;
  height: 300px;
}

.contacts {
  font-size: 1.1em;
  margin-left: 1em;
}

.contacts a {
  color: #e7e7e7;
  text-decoration: none;
}

.contacts a:focus,
.contacts a:visited {
  text-decoration: none;
}

.contacts a:hover {
  color: #e8850c;
}

footer {
  color: #e7e7e7;
  background-color: #111;
  padding: 16px 0 0 0;
}

footer p {
  font-size: 85%;
  text-align: center;
}

// Bootstrap table CSS

.table {
  text-align: center;
}

.table > thead > tr > th {
  text-align: center;
}

#participants .table-hover tbody tr:hover td,
#participants .table-hover tbody tr:hover th {
  background-color: #5e7e91;
}

.table-wrapper {
  overflow-x: auto;
}

.bold {
  font-weight: bold;
}
