$menu-height: 50px;
$menu-padding: 5px;
$chapter-overlay: $menu-height + 2 * $menu-padding;
$chapter-margin: 30px;

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.chapter-wrapper {
  margin-bottom: -$chapter-overlay;
  padding-bottom: $chapter-margin;
}

.chapter-wrapper::before {
  content: "";
  display: block;
  height: $chapter-overlay;
  margin-bottom: $chapter-margin;
}

footer {
  margin-top: $chapter-overlay;
}

.chapter-wrapper:nth-child(even) {
  color: #e7e7e7;
  background-color: #2c3e50;
  text-shadow: 0 1px 0 #000;
}

.chapter-wrapper:nth-child(odd) {
  color: #333;
  background-color: #fff;
  text-shadow: 0 1px 0 #e7e7e7;
}

.chapter-wrapper:nth-child(even)::before {
  background-color: #fff;
}

.chapter-wrapper:nth-child(odd)::before {
  background-color: #2c3e50;
}
