@import 'bootstrap/variables';
@import 'layout';

.navbar {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: $grid-float-breakpoint-max) {
  .navbar > .container {
    max-width: 100%;
  }

  .nav-item {
    text-align: center;
  }
}

.nav-link {
  display: inline-block;
}

@media screen and (min-width: $grid-float-breakpoint) {
  .navbar .navbar-collapse {
    display: inline-block !important;
    flex-grow: 0;
  }

  .navbar .navbar-nav {
    width: auto;
  }

  #facebook-icon {
    order: 99;
  }
}

.bg-dark {
  background-color: #111 !important;
}

.navbar-dark .navbar-toggler {
  border-color: #e7e7e7;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(231, 231, 231, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler:hover {
  background-color: #e7e7e7;
}

.navbar-dark .navbar-toggler:hover > .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(17, 17, 17, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-brand:hover,
#facebook-icon > a:hover, #facebook-icon > a:active {
  color: #e8850c;
}

#menu > .container {
  min-height: $menu-height;
}
